{% extends 'base/layout.html' %}
{% block content %}
<h4>Upcoming Reservations</h4>
<table>
    <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Studio</th>
    </tr>
    {% for reservation in upcoming_reservations %}
    <tr>
        <td>{{ reservation.room.date }}</td>
        <td>{{ reservation.room.time|date:"h:i A" }}</td>
        <td>{{ reservation.room_type }}</td>
    </tr>
    {% endfor %}
</table>
<br>
<br>
<h4>Last 30 Reservations</h4>
<table>
    <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Studio</th>
    </tr>
    {% for reservation in past_reservations %}
    <tr>
        <td>{{ reservation.room.date }}</td>
        <td>{{ reservation.room.time|date:"h:i A" }}</td>
        <td>{{ reservation.room_type }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}